* {
    box-sizing: border-box; /* Incluye padding y borde en el ancho total */
    font-family: "Montserrat", sans-serif;
}

body {
    margin: 0;
    color: #eee;
    background: #fff;
}

/*HEADER*/
.container-web {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    background-color: #368cdf;
    color: #fff;
}

.item {
    align-items: center;
    display: flex;
    flex-direction: row;
    gap: 10px; /* Espacio entre los elementos dentro de .item */
}

.header-logo {
    gap: 25px; /* Espacio entre los elementos dentro de .header-logo */
    height: 100px;
}

h1{
    color: white;
    font-size: 50px;
    font-weight: 800;
    padding-top: 5px;
}

.user-info {
    font-size: 16px;
    font-weight: 500;
}

/* Icono de Usuario */
.fi {
    font-size: 24px; /* Ajusta el tamaño */
    color: #fff; /* Cambia el color */
}

img.logo-icon {
    width: 50px;
    height: 50px;
    margin-left: 15px;
    border-color: #fff;
    border-style: solid;
    border-radius: 100%;
}

img.user-icon {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

/*NAV-BAR*/
.nav-bar {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px 20px;
    background-color: #2f7bc3;
}

.nav-bar .item {
    color: white;
    padding: 18px 15px !important;
    text-decoration: none;
    max-height: 45px;
    border-radius: 30px;
    margin: 8px 5px;
}

.nav-bar .item:hover{
    background-color: #3f91dd;
}

.navbar-toggler {
    color: white; /* Cambia el color a lo que necesites */
    border: 1px solid white;
}


/*CAROUSEL*/
.carousel-item {
    width: 100%;
    height: 350px;
}


/*FORMULARIO Y MAPA*/

.contacto {
    display: flex;
    justify-content: space-around;
    margin-top: 25px;
}

h2 {
    margin: 0;
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 1.4em;
    padding: 10px;
    color: #000;
}

.formulario {
    background: transparent;
    padding: 10px 30px;
    max-width: 600px;
    box-shadow: 0 0 25px #0008;
    margin-top: 20px;
    margin-bottom: 40px;
    border-radius: 2%;
}

.form_input {
    padding: 6px 0;
    color: #000;
}

input, textarea, select {
    width: 100%;
    box-sizing: border-box;
    margin: 8px;
    padding: 6px 8px;
    border: 1px solid #555;
    box-shadow: 0 0 15px #0003;
    background: transparent;
    border-radius: 4px;
    color: #000;
}

option {
    background-color: #000;
    
}

textarea {
    min-width: 100%;
    resize: none;
    min-height: 100px;
}

label {
    font-size: 0.88em;
    line-height: 2;
}

.checkbox {
    width: 15px;
    height: 15px;
}

fieldset {
    border-radius: 5px;
    border: 1px solid #666;
    padding: 10px 50px 10px 20px;
    margin: 20px;
}

legend {
    padding: 0 6px;
    color: #000;
    font-size: larger;
}

.boton {
    display: flex;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: 500;
    color: #fff;
    background-color: #007bff; /* Azul Bootstrap */
    border: 1px solid #007bff;
    border-radius: 8px;
    cursor: pointer;
    text-align: center;
}

.mapa {
    display: flex;
    flex-direction: column;
    background: transparent;
    padding: 10px 30px;
    max-width: 600px;
    box-shadow: 0 0 25px #0008;
    margin-top: 20px;
    margin-bottom: 40px;
    border-radius: 2%;
    color: #000;
}

.mapa iframe {
    width: 100%;
    height: 95%;
    border-radius: 2%;
    margin-bottom: 20px;
}

.mapa a {
    display: flex;
    margin-bottom: 10px;
    align-items: center;
}

.mapa i {
    font-size: 30px; /* Ajusta el tamaño según necesites */
    color: #000; /* Color para el ícono en la sección de mapa */
    margin-right: 10px;
}

/*Agrego media Query*/

@media (max-width: 600px) {
    h1 {
        font-size: 35px;
    }

    .user-info {
        font-size: 12px;
    }
}

@media (max-width: 1200px) {
    .contacto {
        flex-direction: column;
        align-items: center;
        margin: 15px;
    }

    .formulario {
        max-width: 800px;
        width: 80%;
    }

    .mapa {
        max-width: 800px;
        width: 80%;
    }

    body {
        min-width: 570px;
    }
}

@media (min-width: 1200px) {
    .contacto {
        flex-direction: row;
        margin: 15px;
    }
}

/*FOOTER*/

footer {
    font-family: "Montserrat";
    color: #fff;
    background: linear-gradient(to top, #222, #368cdf);
    padding-top: 20px; /* Controla el espacio superior e inferior del footer */
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0; /* Elimina el espacio entre h4 y .info-footer */
}

h4 {
    margin: 0; /* Elimina el margen predeterminado del h4 */
    font-size: 20px;
}

.info-footer {
    margin: 0; /* Asegura que no haya margen superior o inferior */
    padding: 0 30px; /* Solo aplica padding lateral si es necesario */
    text-align: center; /* Centra el texto dentro de .info-footer */
    text-wrap: balance;
    font-size: 12px;
}

.ultimo-footer{
    padding: 5px;
    background-color: #40463c;
    text-align: center;
    width: 100%; /* Abarca toda la pantalla */
    font-size: 12px;
}
