* {
    box-sizing: border-box; /* Incluye padding y borde en el ancho total */
    font-family: "Montserrat", sans-serif;
}

body {
    margin: 0;
    color: #eee;
    background: #fff;
}

/*HEADER*/
.container-web {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 10px;
    background-color: #368cdf;
    color: #fff;
    width: 100%;
    height: 60px;
}

.item {
    align-items: stretch;
    display: flex;
    flex-direction: row;
    gap: 10px; /* Espacio entre los elementos dentro de .item */
}

.header-logo {
    gap: 10px; /* Espacio entre los elementos dentro de .header-logo */
}

h1{
    color: white;
    font-size: 23px;
    font-weight: 800;
    padding-top: 5px;
}

.user-info {
    display: flex;
    font-size: 10px;
    font-weight: 500;
}

/* Icono de Usuario */
.user-info .fi {
    font-size: 18px; /* Ajusta el tamaño */
    color: #fff; /* Cambia el color */
}

img.logo-icon {
    width: 35px;
    height: 35px;
    margin-left: 15px;
    border: 2px solid white;
    border-radius: 100%;
}

/*NAV-BAR*/
.nav-bar {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    padding: 8px 20px;
    background-color: #2f7bc3;
}

.nav-bar .item {
    color: white;
    padding: 8px 15px !important;
    text-decoration: none;
    max-height: 45px;
    border-radius: 30px;
    margin: 5px 5px;
}

.nav-bar .item:hover{
    background-color: #3f91dd;
}

.navbar-toggler {
    color: white; /* Cambia el color a lo que necesites */
    border: 1px solid white;
    height: 32px;
}

#carrito-cantidad {
    font-size: 12px;
    background-color: #ee2f2f;
    padding: 0 8px;
    border-radius: 5px;
    font-weight: bold;
}

/*CAROUSEL*/
.carousel-item {
    width: 100%;
    height: 180px;
}

/*SECCIÓN PRODUCTOS (con GRID)*/
.productos {
    padding-top: 5px;
}

.productos-grid {
    display: grid;
    grid-template-columns: repeat(2, 175px);
    grid-template-rows: auto;
    justify-content: center;
    gap: 30px 10px;
}

#productos-container {
    display: grid;
    grid-template-columns: repeat(1, 280px);
    grid-template-rows: auto;
    justify-content: center;
    gap: 30px 10px;
    padding-bottom: 30px;
}

.card {
    color: #000;
    border: 1px solid #ccc;
    border-radius: 10px;
    overflow: hidden;
    background-color: #fff;
    box-shadow: 0 0 15px #0003;
}

.card-img-top {
    width: 100%;
    height: 250px;
}

.card-body {
    padding: 18px;
    display: flex;
    flex-direction: column; /*Alinear el contenido verticalmente*/
}

.card-brand , .card-title{
    margin: 0;
}

.card-title {
    font-size: 20px;
}

.card-brand {
    font-size: 16px;
    color: #1e4972;
    font-weight: 500;
}

.card-description {
    font-size: 14px;
    max-height: 60px; /* Altura inicial limitada */
    overflow: hidden; /* Oculta el contenido que sobrepase la altura */
    transition: max-height 0.5s ease; /* Transición suave para max-height */
}

.card-description.expanded {
    max-height: 300px; /* Altura máxima para la descripción expandida */
}

.card-price {
    font-size: 25px;
    font-weight: 600;
    display: flex;
    justify-content: space-between;
}

.card-body .btn {
    align-self: flex-end; /* Alinear el botón al final del card-body */
    background-color: #007bff;
    font-size: 13px;
    border: none;
}

#prev-btn, #next-btn {
    background-color: #2571c2;
    border: none;
}


#page-info {
    color: #3f91dd;
    font-size: 15px;
    font-weight: 600;
    text-align: center;
}

.toast-message {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #4cbe67;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    font-size: 14px;
    opacity: 1; /* Inicialmente visible */
    transition: opacity 1s ease-in-out; /* Transición suave de opacidad */
}

.toast-message.fade-out {
    opacity: 0; /* Hace que el mensaje sea invisible */
}

/*SECCIÓN CATEGORIA-MASCOTA*/
.categoria-mascota {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.titulo-categoria {
    color: #3f91dd;
    font-size: 20px;
    font-weight: 800;
    text-align: center;
    padding: 0 2px;
}

.mascota-container {
    display: grid;
    grid-template-columns: repeat(5,auto);
    width: 100%;
    padding: 15px;
    justify-content: space-evenly;
}

.mascota {
    overflow: hidden;
    border-radius: 80px;
    cursor: pointer;
    border: 1px #1e4972 solid;
    background: linear-gradient(to top, #222, #368cdf);
}

.mascota:hover {
    box-shadow: 0 0 10px #0008;
}

.mascota img {
    height: 60px;
    width: 60px;
}

/*SECCIÓN FORMULARIO Y MAPA*/
.contacto {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin: 5px;
}

h2 {
    margin: 0;
    font-weight: 800;
    font-size: 20px;
    padding-top: 5px;
    color: #3f91dd;
}

.formulario {
    background: transparent;
    width: 90%;
    padding: 10px 20px;
    max-width: 800px;
    box-shadow: 0 0 25px #0008;
    margin: 20px 0 40px 0;
    border-radius: 2%;
    display: flex;
    flex-direction: column;
}

.form_input {
    padding: 6px 0;
    color: #000;
}

input, textarea {
    width: 100%;
    box-sizing: border-box;
    margin: 2px;
    padding: 6px 8px;
    border: 1px solid #555;
    box-shadow: 0 0 15px #0003;
    background: transparent;
    border-radius: 4px;
    color: #000;
    font-size: 10px;
}

textarea {
    min-width: 100%;
    resize: none;
    height: 50px;
}

label {
    font-size: 12px;
    line-height: 2;
}

.checkbox {
    width: 12px;
    height: 12px;
}

fieldset {
    border-radius: 5px;
    border: 1px solid #666;
    padding: 10px;
    margin: 20px 0;
}

legend {
    color: #000;
    font-size: 13px;
    margin: 0;
    font-weight: 600;
}

.boton {
    display: flex;
    padding: 5px 10px;
    font-size: 12px;
    font-weight: 500;
    color: #fff;
    background-color: #007bff; /* Azul Bootstrap */
    border: 1px solid #007bff;
    border-radius: 8px;
    cursor: pointer;
    align-self: flex-end;
}

.mapa {
    display: flex;
    flex-direction: column;
    background: transparent;
    padding: 10px 15px;
    max-width: 800px;
    width: 90%;
    box-shadow: 0 0 25px #0008;
    margin-top: 20px;
    margin-bottom: 40px;
    border-radius: 2%;
    color: #000;
}

.mapa iframe {
    width: 100%;
    height: 95%;
    max-height: 250px;
    border-radius: 10%;
    margin: 15px 0;
}

.mapa a {
    display: flex;
    margin: 10px 2px;
    align-items: center;
    font-size: 12px;
}

.mapa i {
    font-size: 25px; /* Ajusta el tamaño según necesites */
    color: #3f91dd; /* Color para el ícono en la sección de mapa */
    margin-right: 10px;
}

/*SECCIÓN RESEÑAS*/
.resenias {
    padding-bottom: 20px;
}

.resenias h2{
    font-size: 25px;
    padding: 20px 60px;
    font-weight: 800;
    color: #3f91dd;
}

.resenias-grid{
    display: grid;
    grid-template-columns: 400px;
    grid-template-rows: auto;
    justify-content: center;
    gap: 40px;
}

.resenias .card{
    display: flex;
    flex-direction: column;
    padding-top: 20px;
}

.resenias .card .card-img-top {
    width: 120px;
    height: 120px;
    align-self: center;
    border-radius: 100%;
}

/*CARRITO DE COMPRAS*/
#carrito {
    padding: 0 30px 50px 30px;
    min-height: 50vh; /* Asegura que ocupe al menos toda la altura de la ventana */
}

.text-end h4 {
    font-weight: 800;
    font-size: 25px;
    color: #3f91dd;
    margin-bottom: 25px;
}

#limpiar-carrito {
    align-self: flex-end; /* Alinear el botón al final del card-body */
    background-color: #3f91dd;
    color: white;
    font-size: 13px;
    border: none;
}

#finalizar-compra{
    align-self: flex-end; /* Alinear el botón al final del card-body */
    background-color: #ee4242;
    color: white;
    font-size: 13px;
    border: none;
}

#limpiar-carrito:hover{
    background-color: #007bff;
}

#finalizar-compra:hover{
    background-color: red;
}

.custom-button {
    background-color: #007bff; /* Botón azul */
    color: #fff;              /* Texto blanco */
    border: none;
    border-radius: 8px;
    padding: 10px 20px;
    font-size: 16px;
} 
/*FOOTER*/

footer {
    font-family: "Montserrat";
    color: #fff;
    background: linear-gradient(to top, #222, #368cdf);
    padding-top: 20px; /* Controla el espacio superior e inferior del footer */
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0; /* Elimina el espacio entre h4 y .info-footer */
}

h4 {
    margin: 0; /* Elimina el margen predeterminado del h4 */
    font-size: 20px;
}

.primer-footer {
    display: flex;
    font-size: 10px;
    padding: 0 15px;
}

.info-footer {
    margin: 0; /* Asegura que no haya margen superior o inferior */
    padding: 5px; /* Solo aplica padding lateral si es necesario */
    text-align: center; /* Centra el texto dentro de .info-footer */
    text-wrap: balance;
    display: flex;
    flex-direction: column;
}

.redes-sociales {
    display: flex;
    flex-direction: column;
    padding-top: 10px;
}

.redes-sociales a {
    text-decoration: none;
    color: white;
    margin: 2px 8px;
}

.redes-sociales i {
    margin-right: 5px;
    font-size: 10px;
}

.ultimo-footer{
    padding: 5px;
    background-color: #40463c;
    text-align: center;
    width: 100%; /* Abarca toda la pantalla */
    font-size: 10px;
}

/*Agrego media Query*/
@media (min-width: 600px) {
    /*HEADER*/
    .container-web {
        padding: 50px 70px 40px 70px;
    }
    h1 {
        font-size: 50px;
    }
    
    .item {
        gap: 15px; /* Espacio entre los elementos dentro de .item */
    }
    
    .user-info {
        font-size: 18px;
    }
    
    .user-info .fi {
        font-size: 25px;
    }
    
    img.logo-icon {
        width: 60px;
        height: 60px;
    }
    /*NAV-BAR*/
    .nav-bar {
        font-size: 17px;
    }

    #carrito-cantidad {
        font-size: 15px;
        align-self: center;
    }

    /*CAROUSEL*/
    .carousel-item {
    height: 300px;
    }
    
    /*SECCIÓN CATEGORIA-MASCOTA*/
    .titulo-categoria {
        font-size: 30px;
    }

    .mascota-container {
        justify-content: space-evenly;
    }

    .mascota {
        border: 3px #1e4972 solid;
    }
    
    .mascota img {
        height: 200px;
        width: 200px;
    }
    
    .mascota:hover {
        box-shadow: 0 0 15px #0008;
    }
    
    /*SECCIÓN PRODUCTOS (con GRID)*/
    
    #productos-container {
        display: grid;
        grid-template-columns: repeat(4, 290px);
        gap: 40px 0;
        padding-bottom: 30px;
        justify-content: stretch;
    }
    
    .card {
        width: 255px;
    }
    
    .productos {
        padding: 80px 0;
    }
    
    .card-body {
        padding: 25px;
    }

    
    .card-body .btn {
        font-size: 15px;
    }
    
    .card-body .card-price {
        font-size: 22px;
        margin-bottom: 0;
    }

    #prev-btn, #next-btn {
        font-size: 20px;
        margin: 0 30px;
    }
    
    #page-info {
        margin-top: 30px;
        font-size: 20px;
    }
    
    .toast-message {
        bottom: 20px;
        right: 40px;
        font-size: 18px;
    }

    
    /*FORMULARIO Y MAPA*/
    .contacto {
        flex-direction: row;
        align-items: stretch;
        margin: 15px;
    }

    h2 {
        font-size: 25px;
        color: #3f91dd;
    }
    
    .formulario {
        max-width: 550px;
    }
    
    .form_input {
        padding: 8px 15px;
    }
    
    input, textarea {
        padding: 10px 10px;
        border-radius: 5px;
        font-size: 12px;
    }
    
    textarea {
        height: 100px;
    }
    
    label {
        font-size: 15px;
        display: flex;
        align-items: center;
        gap: 10px;
    }
    
    .checkbox {
        width: 16px;
        height: 16px;
    }
    
    fieldset {
        padding: 15px 15px;
        margin: 18px 5px;
    }
    
    legend {
        font-size: 16px;
        margin: 0;
        font-weight: 600;
    }
    
    .boton {
        width: 90px;
        padding: 8px 20px;
        font-size: 15px;
        font-weight: 500;
    }
    
    .mapa {
        padding: 10px 25px;
        max-width: 550px;
    }
    
    .mapa iframe {
        max-height: 75%;
        border-radius: 5%;
        margin: 0;
    }
    
    .mapa a {
        margin: 15px 0;
        font-size: 15px;
    }
    
    .mapa i {
        font-size: 30px;
    }

    /*SECCIÓN RESEÑAS*/
    .resenias{
        padding: 30px;
    }

    .resenias h2{
        font-size: 40px;
        padding: 20px 120px;
    }

    .resenias-grid{
        grid-template-columns: repeat(2,450px);
        gap: 60px;
    }

    .resenias-grid .card {
        width: 80%;
    }

        /*CARRITO DE COMPRAS*/
    #limpiar-carrito {
        font-size: 18px;
    }

    #finalizar-compra{
        font-size: 18px;
    }

    /*FOOTER*/
    .primer-footer {
        flex-direction: column;
    }    
    
    .info-footer {
        flex-direction: column;
        font-size: 12px;
    }

    .redes-sociales{
        font-size: 15px;
        flex-direction: row;
        justify-content: center;
        padding: 0 0 10px 0;
    }

    .redes-sociales a {
        display: flex;
        text-decoration: none;
        color: white;
        margin-right: 30px;
    }

    .redes-sociales i {
        margin-right: 5px;
        font-size: 15px;
    }

    .ultimo-footer{
        font-size: 12px;
    }
}

